<nav role="navigation" id="js-menu" class="sliding-menu-content">
  <h5>{{ site.title }}</h5>
  <ul class="menu-item">
    {% for link in site.data.navigation %}<li>
      <a href="{{ site.url }}{{ link.url }}">
        {% if link.image %}<img src="{{ site.url }}/images/{{ link.image }}" alt="teaser" class="teaser">{% endif %}
        <div class="title">{{ link.title }}</div>
        {% if link.excerpt %}<p class="excerpt">{{ link.excerpt }}</p>{% endif %}
      </a>
    </li>{% endfor %}
  </ul>
 <h5>Table of Contents</h5>
  <ul class="menu-item">
{% for post in site.posts limit:4 %}
  <li>
  <a href="{{ site.url }}{{ post.url }}">
  {% if post.image.teaser %}<img src="{{ site.url }}/images/{{ post.image.teaser }}" alt="teaser" itemprop="image" width="100" style="float:left; margin-right: 1em;">
    {% else %}<img src="{{ site.url }}/images/{{ site.teaser }}" alt="teaser" itemprop="image">{% endif %}
  {{ post.title }}
  </a>
  </li>
{% endfor %}
</ul>

</nav>


<button type="button" id="js-menu-trigger" class="sliding-menu-button lines-button x2" role="button" aria-label="Toggle Navigation">
  <span class="nav-lines"></span>
</button>

<div id="js-menu-screen" class="menu-screen"></div>
